<div class="container">
    <div class="card card-container">
            
            
            <p id="profile-name" class="profile-name-card"></p>
            <h2 class="text-center" >Register User</h2>
            <form class="form-signup" (submit)="onRegister()" >
                <span id="reauth-email"  class="reauth-email"></span>
                <input type="text" name="name" [(ngModel)]="name"  class="form-control" placeholder="Name"  autofocus>
                <input type="email" name="email" [(ngModel)]="email"  class="form-control" placeholder="Email address" >
				 <input type="text"  name="username" [(ngModel)]="username" class="form-control" placeholder="User Name" >
                <input type="password" name="password" [(ngModel)]="password"  class="form-control" placeholder="Password" >
                
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign up</button>
            </form><!-- /form -->
            
     </div><!-- /card-container -->
</div><!-- /container -->